.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 1em;
  line-height: 1.7;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: .1em;
}
